<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.cmq.mapper.DistrictMapper">

    <sql id="selectSql">
        select
          `id`,
          `name`,
          `district_code`,
          `creator_id`,
          `creator_name`,
          `create_time`,
          `last_update_id`,
          `last_update_name`,
          `last_update_time`,
          `is_deleted`
    </sql>

    <select id="select" resultType="com.cmq.po.DistrictPO">
        <include refid="selectSql"/>
        from sys_district
        where
          id=#{id}
          and is_deleted=0
    </select>

    <select id="selectByCode" resultType="com.cmq.po.DistrictPO">
        <include refid="selectSql"/>
        from sys_district
        where
        district_code=#{districtCode}
        and is_deleted=0
    </select>

    <select id="find" resultType="com.cmq.po.DistrictPO">
        <include refid="selectSql"/>
        from sys_district
        where
          id in <foreach collection="list" item="id" open="(" separator="," close=")">#{id}</foreach>
          and is_deleted=0
    </select>

    <select id="findAll" resultType="com.cmq.po.DistrictPO">
        <include refid="selectSql"/>
        from sys_district
        where is_deleted=0
    </select>

    <select id="findProvinces" resultType="com.cmq.po.DistrictPO">
        <include refid="selectSql"/>
        from sys_district
        where
          length(district_code)=3
          and is_deleted=0
    </select>

    <select id="findChildrenByParentDistrictCode" resultType="com.cmq.po.DistrictPO">
        <include refid="selectSql"/>
        from sys_district
        where
          district_code like CONCAT(#{districtCode}, '%')
          and length(district_code)=length(#{districtCode})+2
          and is_deleted=0
    </select>

    <insert id="insert" useGeneratedKeys="true" keyColumn="id" keyProperty="id" parameterType="com.cmq.po.DistrictPO">
        insert into sys_district
        (
          `name`,
          `district_code`,
          `creator_id`,
          `creator_name`,
          `create_time`,
          `last_update_id`,
          `last_update_name`,
          `last_update_time`,
          `is_deleted`
        )
        values (
          #{name},
          #{districtCode},
          #{creatorId},
          #{creatorName},
          now(),
          #{lastUpdateId},
          #{lastUpdateName},
          now(),
          0
        )
    </insert>

    <update id="update" parameterType="com.cmq.po.DistrictPO">
        update sys_district
        <set>
            <if test="name != null">name=#{name},</if>
            <if test="districtCode != null">district_code=#{districtCode},</if>
            last_update_id=#{lastUpdateId},
            last_update_name=#{lastUpdateName},
            last_update_time=now()
        </set>
        where
          id=#{id}
          and is_deleted=0
    </update>

    <update id="deleteByCodeWithChildren">
        update sys_district
        <set>
            is_deleted=id
        </set>
        where
          district_code like CONCAT(#{districtCode}, '%')
          and is_deleted=0
    </update>
</mapper>