<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.cmq.mapper.DoctorDistrictMapper">

    <sql id="selectSql">
        select
          `id`,
          `doctor_id`,
          `district_id`,
          `creator_id`,
          `creator_name`,
          `create_time`,
          `last_update_id`,
          `last_update_name`,
          `last_update_time`,
          `is_deleted`
    </sql>

    <select id="findByDoctorId" resultType="com.cmq.po.DoctorDistrictPO">
        <include refid="selectSql"/>
        from sys_doctor_district
        where
          doctor_id=#{doctorId}
          and is_deleted=0
    </select>

</mapper>