<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.cmq.mapper.ResidentMapper">

    <sql id="selectSql">
        select
          `id`,
          `avatar`,
          `name`,
          `sex`,
          `birthday`,
          `id_card_number`,
          `permanent_address`,
          `residence_address`,
          `creator_id`,
          `creator_name`,
          `create_time`,
          `last_update_id`,
          `last_update_name`,
          `last_update_time`,
          `is_deleted`
    </sql>

    <select id="select" resultType="com.cmq.po.ResidentPO">
        <include refid="selectSql"/>
        from sys_resident
        where
          id=#{id}
          and is_deleted=0
    </select>

    <select id="findByCondition" resultType="com.cmq.po.ResidentPO">
        <include refid="selectSql"/>
        from sys_resident
        where
          creator_id in <foreach collection="doctorIds" item="creator_id" open="(" separator="," close=")">#{creator_id}</foreach>
          <if test="condition != null"> and (name=#{condition} or id_card_number=#{condition})</if>
          and is_deleted=0
        order by create_time desc
    </select>

    <insert id="insert" useGeneratedKeys="true" keyColumn="id" keyProperty="id" parameterType="com.cmq.po.ResidentPO">
        insert into sys_resident
        (
          `avatar`,
          `name`,
          `sex`,
          `birthday`,
          `id_card_number`,
          `permanent_address`,
          `residence_address`,
          `creator_id`,
          `creator_name`,
          `create_time`,
          `last_update_id`,
          `last_update_name`,
          `last_update_time`,
          `is_deleted`
        )
        values (
          #{avatar},
          #{name},
          #{sex},
          #{birthday},
          #{idCardNumber},
          #{permanentAddress},
          #{residenceAddress},
          #{creatorId},
          #{creatorName},
          now(),
          #{lastUpdateId},
          #{lastUpdateName},
          now(),
          0
        )
    </insert>

    <update id="update" parameterType="com.cmq.po.ResidentPO">
        update sys_resident
        <set>
            <if test="avatar != null">avatar=#{avatar},</if>
            <if test="name != null">name=#{name},</if>
            <if test="sex != null">sex=#{sex},</if>
            <if test="birthday != null">birthday=#{birthday},</if>
            <if test="idCardNumber != null">id_card_number=#{idCardNumber},</if>
            <if test="permanentAddress != null">permanent_address=#{permanentAddress},</if>
            <if test="residenceAddress != null">residence_address=#{residenceAddress},</if>
            last_update_id=#{lastUpdateId},
            last_update_name=#{lastUpdateName},
            last_update_time=now()
        </set>
        where
          id=#{id}
          and is_deleted=0
    </update>

</mapper>