<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.cmq.mapper.ResidentMapper">

    <sql id="selectSql">
        select
          `id`,
          `avatar`,
          `name`,
          `sex`,
          `age`,
          `birthday`,
          `id_card_number`,
          `permanent_address`,
          `residence_address`,
          `district_id`,
          `creator_id`,
          `creator_name`,
          `create_time`,
          `last_update_id`,
          `last_update_name`,
          `last_update_time`,
          `is_deleted`
    </sql>

    <select id="select" resultType="com.cmq.po.ResidentPO">
        <include refid="selectSql"/>
        from sys_resident
        where
          id=#{id}
          and is_deleted=0
    </select>

    <select id="findByCondition" resultType="com.cmq.po.ResidentPO">
        <include refid="selectSql"/>
        from sys_resident
        where
          creator_id in <foreach collection="doctorIds" item="creator_id" open="(" separator="," close=")">#{creator_id}</foreach>
          <if test="condition != null"> and (name=#{condition} or id_card_number=#{condition})</if>
          and is_deleted=0
    </select>

    <insert id="insert" useGeneratedKeys="true" keyColumn="id" keyProperty="id" parameterType="com.cmq.po.ResidentPO">
        insert into sys_resident
        (
          `avatar`,
          `name`,
          `sex`,
          `age`,
          `birthday`,
          `id_card_number`,
          `permanent_address`,
          `residence_address`,
          `district_id`,
          `creator_id`,
          `creator_name`,
          `create_time`,
          `last_update_id`,
          `last_update_name`,
          `last_update_time`,
          `is_deleted`
        )
        values (
          #{avatar},
          #{name},
          #{sex},
          #{age},
          #{birthday},
          #{idCardNumber},
          #{permanentAddress},
          #{residenceAddress},
          #{districtId},
          #{creatorId},
          #{creatorName},
          now(),
          #{lastUpdateId},
          #{lastUpdateName},
          now(),
          0
        )
    </insert>

</mapper>