<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.cmq.mapper.DoctorMapper">

    <sql id="selectSql">
        select
          `id`,
          `name`,
          `avatar`,
          `mobile`,
          `password`,
          `sex`,
          `id_card_number`,
          `organization`,
          `create_by`,
          `create_time`,
          `last_update_by`,
          `last_update_time`,
          `is_deleted`
    </sql>

    <select id="select" resultType="com.cmq.po.DoctorPO">
        <include refid="selectSql"/>
        from sys_doctor
        where
          id=#{id}
          and is_deleted=0
    </select>

    <select id="selectByName" resultType="com.cmq.po.DoctorPO">
        <include refid="selectSql"/>
        from sys_doctor
        where
          name=#{name}
          and is_deleted=0
    </select>

    <select id="selectByMobile" resultType="com.cmq.po.DoctorPO">
        <include refid="selectSql"/>
        from sys_doctor
        where
          mobile=#{mobile}
          and is_deleted=0
    </select>

    <select id="find" resultType="com.cmq.po.DoctorPO">
        <include refid="selectSql"/>
        from sys_doctor
        where
          id in <foreach collection="list" item="id" open="(" separator="," close=")">#{id}</foreach>
          and is_deleted=0
    </select>

    <update id="update" parameterType="com.cmq.po.DoctorPO">
        update sys_doctor
        <set>
            <if test="name != null">name=#{name},</if>
            <if test="avatar != null">avatar=#{avatar},</if>
            <if test="sex != null">sex=#{sex},</if>
            <if test="mobile != null">mobile=#{mobile},</if>
            <if test="idCardNumber != null">id_card_number=#{idCardNumber},</if>
            <if test="organization != null">organization=#{organization},</if>
            last_update_by=#{lastUpdateBy},
            last_update_time=now()
        </set>
        where
          id=#{id}
          and is_deleted=0
    </update>

    <update id="changePassword">
        update sys_doctor
        <set>
            password=#{password}
        </set>
        where
          id=#{id}
          and is_deleted=0
    </update>

</mapper>