<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.tcm.questionnaire.mapper.DistrictMapper">

    <sql id="selectSql">
        SELECT
          `id`,
          `name`,
          `short_name`,
          `level`,
          `parent_id`,
          `create_by`,
          `create_time`,
          `last_update_by`,
          `last_update_time`,
          `is_deleted`
    </sql>

    <select id="selectById" resultType="com.tcm.questionnaire.po.DistrictPO">
        <include refid="selectSql"/>
        from sys_district
        where id=#{id}
    </select>

    <select id="findByIds" parameterType="java.util.List" resultType="com.tcm.questionnaire.po.DistrictPO">
        <include refid="selectSql"/>
        from sys_district
        where id in
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        and is_deleted=0
    </select>

</mapper>