<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.tcm.questionnaire.mapper.DoctorDistrictMapper">

    <sql id="selectSql">
        SELECT
          `id`,
          `doctor_id`,
          `district_id`,
          `create_by`,
          `create_time`,
          `last_update_by`,
          `last_update_time`,
          `is_deleted`
    </sql>

    <select id="findByDoctorId" resultType="com.tcm.questionnaire.po.DoctorDistrictPO">
        <include refid="selectSql"/>
        from sys_doctor_district
        where doctor_id=#{doctorId} and is_deleted=0
    </select>

</mapper>