<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.tcm.questionnaire.mapper.QuestionnaireMapper">

    <sql id="selectSql">
        SELECT
          `id`,
          `resident_id`,
          `doctor_id`,
          `options`,
          `qixu`,
          `yangxu`,
          `yinxu`,
          `tanshi`,
          `shire`,
          `xueyu`,
          `qiyu`,
          `tebing`,
          `pinghe`,
          `create_by`,
          `create_time`,
          `last_update_by`,
          `last_update_time`,
          `is_deleted`
    </sql>

    <insert id="insert" parameterType="com.tcm.questionnaire.po.QuestionnairePO">
        INSERT INTO bus_questionnaire
        (
          `resident_id`,
          `doctor_id`,
          `options`,
          `qixu`,
          `yangxu`,
          `yinxu`,
          `tanshi`,
          `shire`,
          `xueyu`,
          `qiyu`,
          `tebing`,
          `pinghe`,
          `create_by`,
          `create_time`,
          `last_update_by`,
          `last_update_time`,
          `is_deleted`
        )
        VALUES(
          #{residentId},
          #{doctorId},
          #{options},
          #{qixu},
          #{yangxu},
          #{yinxu},
          #{tanshi},
          #{shire},
          #{xueyu},
          #{qiyu},
          #{tebing},
          #{pinghe},
          #{createBy},
          now(),
          #{lastUpdateBy},
          now(),
          #{isDeleted}
        )
    </insert>

  <update id="update" parameterType="com.tcm.questionnaire.po.QuestionnairePO">

    
  </update>


</mapper>